* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'NHaasGroteskTXPro-bold';
	src: url('resources/fonts/NHaasGroteskTXPro-bold.ttf');  
}

body {font-family: 'Open Sans', sans-serif;}

h1,h2,h3 {font-family: 'NHaasGroteskTXPro-bold';}

h2 {font-size: 1.9rem}

a {text-decoration: none;}

ul{list-style-type: none;}

.main_padding {padding: 0 10%;}

.float_sx {float: left;}
.float_dx {float: right;}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
	visibility: hidden;
}

.h_center {
	top: 50%;
	transform: translate(0%, -50%);
	position: absolute;
}





 /*# # # HEADER # # #*/

header nav {
	height: 70px;
	width: 100%;
	background-color: white;
	position: fixed;
	top: 0;
	z-index: 100;
}

header nav * {display: inline-block;}

.header-logo {
	position: relative;
	padding-left: 10%;
}

.header-logo img {height: 13px;}

.header-nav {
	position: relative;
	padding-right: 10%;
}

.header-nav ul {margin: 0 10px;}

.header-nav ul li {
	margin: 0 13px;
	float: right;
}

.header-nav ul li a {
	text-transform: uppercase;
	color: black;
	font-size: 0.65rem;
	font-weight: 600;
}

/*Divisori tra le lingue, posizionati male al momento*/
#ita_lang:after {
	content: '';
	height: 1rem;
	width: 2px;
	background-color: #000;
	position: absolute;
	right: 155px;
	top: 5.5px;
}

#ita_lang:before {
	content: '';
	height: 1rem;
	width: 2px;
	background-color: #000;
	position: absolute;
	right: 196px;
	top: 5.5px;
}



 /*# # # JUMBOTRON # # #*/

.jumbotron {
	height: 550px;
	background: url("resources/images/jumbotron-bg.jpg") center no-repeat;
	color: #fff;
	text-align: center;
	padding: 70px 0 0;
}

.jumbotron h1 {font-size: 2.7rem;}

.jumbotron-title {padding-top: 140px;}

.jumbotron-title p {padding: 15px 0;}

 /*# # # SEZIONE PRODOTTI # # #*/

.products-section {
	background-color: #fff;
	color: #000;
	text-align: center;
	padding: 60px 10%;
}

/*rettangoli grigi*/
.products-section .col {
	background-color: #fafafa;
	height: 580px;
	width: 48%;
	padding: 90px 60px;
}

/*scritta blu dei link*/
.products-section-link,.products-section-link a {
	color: #4998D7;
	padding: 14px 0 20px;
}

.product-title-img {
	height: 20px;
	margin-bottom: 20px;
}

.product-image {width: 170px;}



/*# # # SEZIONE COME FUNZIONA # # #*/

.howitworks-bg {
	background: url("resources/images/howitworks-bg.jpg") no-repeat;
	background-size: cover;
	background-position: 25%;
	height: 500px;
}

/*div con testo e immagine del telefono*/
.howitworks-content {
	position: relative;
	padding: 90px 180px 130px 160px;
}

.howitworks-content * {display: inline-block;}

.howitworks-content h2 {
	width: 200px;
	font-size: 2.1rem;
}

#howitworks-phone-img {
	height: 600px;
	position: absolute;
	top: -360px;
	left: 50%;
	transform: translate(-50%, 0%);
	z-index: 40;		/*per farlo stare sotto la navbar*/
}

/*div con Step 1 e descrizione*/
.howitworks-step {
	padding-top: 30px;
	width: 140px;
	float: right;
}

.howitworks-step h4 {
	font-size: 1.2rem;
	display: block;
	padding-bottom: 20px;
}



/*# # # SEZIONE PUZZLE 3 RIQUADRI # # #*/

.puzzle-section *{
	color: #fff;
	text-align: center;
}

.puzzle-section p {padding: 15px 0 25px;}

.puzzle-section a {text-decoration: underline;}

/*proprietà in comune ai 3 riquadri*/
.piece {
	height: 400px;
	margin: 0 0 40px;
}

.puzzle-section_helbiz {
	background: url("resources/images/puzzle-helbiz.jpg") no-repeat;
	background-size: cover;
	background-position: 25%;
}

.puzzle-section_phone {
	background: url("resources/images/puzzle-phone.png") bottom no-repeat, linear-gradient(#41566a,#252f38) 50% no-repeat;
	background-size: 80%, 100%;
	width: 48%;
}

.puzzle-section_city {
	background: url("resources/images/puzzle-city.jpg") no-repeat;
	background-size: cover;
	width: 48%;
}

/*contenitore testo puzzle-section_helbiz*/
.puzzle-section_container {
	padding: 90px 100px 0 460px;
}

.puzzle-section_phone h2,.puzzle-section_city h2 {
	padding-top: 40px;
}




/*# # # SEZIONE SOCIAL # # #*/

.social-section {
	background: url("resources/images/social-bg.jpg") center no-repeat;
	background-size: cover;
	height: 420px;
	position: relative;
	margin-bottom: 40px;
}

.social-section_text {
	background-color: #fff;
	display: inline-block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	text-align: center;
	padding: 53px 73px;
}

/*icone dei social*/
.social-section_text img {
	height: 25px;
	margin: 10px 10px 0;
}



/*# # # FOOTER # # #*/

footer {background-color: #000;}

footer * {color: #fff;}

footer .col {width: 25%;}

footer p {
	text-transform: uppercase;
	font-weight: 600;
}

footer a {font-size: 0.8rem;}

footer .grey>li>a {color: #5D5D5D;}

/*1^ riga con gli ul*/
.sitemap {padding: 70px 0;}

.sitemap #logo {
	position: relative;
	top: 2px;
}

.sitemap p {margin-bottom: 12px;}

.sitemap li {margin-bottom: 6px}

/*2^ riga con icone social e altri link*/
.footer-contacts {
	padding: 30px 0;
	border-top: 1px #222 solid;
	border-bottom: 1px #222 solid;
}

#social-icons>a>img {height: 23px;}

.footer-contacts a {font-size: 0.85rem;}

/*3^ riga con bottoni per gli store Apple e Android*/
#link-app-store {
	padding: 20px 0 30px;
	text-align: center;
}

#link-app-store a:first-child {padding-right: 10px;}