* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'NHaasGroteskTXPro-bold';
	src: url('resources/fonts/NHaasGroteskTXPro-bold.ttf');  
}

body {
	font-family: 'Open Sans', sans-serif;
}

h1,h2,h3 {
	font-family: 'NHaasGroteskTXPro-bold';
}

h2 {font-size: 1.9rem}

a {text-decoration: none;}

.main_padding {padding: 0 10%;}

.float_sx {float: left;}
.float_dx {float: right;}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
	visibility: hidden;
}

.h_center {
	top: 50%;
	transform: translate(0%, -50%);
	position: absolute;
}





 /*# # # HEADER # # #*/

header nav {
	height: 70px;
	width: 100%;
	position: fixed;
	top: 0;
	padding: 0;
	background-color: white;
}

header nav * {
	display: inline-block;
}

.header-logo {
	position: relative;
	padding-left: 10%;
}

.header-logo img {
	height: 13px;
}

.header-nav {
	position: relative;
	padding-right: 10%;
}

.header-nav ul {
	margin: 0 10px;
}

.header-nav ul li {
	margin: 0 13px;
	float: right;
}

.header-nav ul li a {
	text-transform: uppercase;
	color: black;
	font-size: 0.65rem;
	font-weight: 600;
}

/*Divisori tra le lingue*/
#ita_lang:after {
	content: '';
	height: 1rem;
	width: 2px;
	background-color: #000;
	position: absolute;
	right: 155px;
	top: 5.5px;
}

#ita_lang:before {
	content: '';
	height: 1rem;
	width: 2px;
	background-color: #000;
	position: absolute;
	right: 196px;
	top: 5.5px;
}



 /*# # # JUMBOTRON # # #*/

.jumbotron {
	height: 60vh;
	background: url("resources/images/jumbotron-bg.jpg") center no-repeat;
	color: #fff;
	text-align: center;
	padding: 70px 0 0;
}

.jumbotron h1 {
	font-size: 2.7rem;
}



 /*# # # SEZIONE PRODOTTI # # #*/

.products-section {
	background-color: #fff;
	color: #000;
	text-align: center;
}

.products-section .col {
	background-color: #fafafa;
	border: 1px solid grey;
}

.products-section .float_sx,.products-section .float_dx {
	width: 48%;
}

.products-section .col .product-title {
	height: 20px;
}

.products-section .col .product-image {
	width: 170px;
}



/*# # # SEZIONE COME FUNZIONA # # #*/

.howitworks-bg {
	background: url("resources/images/howitworks-bg.jpg") no-repeat;
	background-size: cover;
	background-position: 25%;
	height: 500px;
}

.howitworks-content {
}

.howitworks-content * {
	display: inline-block;
}

.howitworks-content h2 {
	width: 200px;
}

.howitworks-content .howitworks-phone {
	height: 100px;
}


.howitworks-content .howitworks-step h4 {
	font-size: 1.2rem;
	display: block;
}



/*# # # SEZIONE PUZZLE 3 RIQUADRI # # #*/
.puzzle-section *{
	color: #fff;
	text-align: center;
}

.puzzle-section_helbiz {
	background: url("resources/images/puzzle-helbiz.jpg") no-repeat;
	background-size: cover;
	background-position: 25%;
	height: 400px;
}

.puzzle-section_phone {
	background: url("resources/images/puzzle-phone.png") bottom no-repeat, linear-gradient(#41566a,#252f38) 50% no-repeat;
	background-size: 80%, 100%;
	width: 48%;
	height: 400px;
}

.puzzle-section_city {
	background: url("resources/images/puzzle-city.jpg") no-repeat;
	background-size: cover;
	width: 48%;
	height: 400px;
}